.page-event-content{
    transform: translateY(-200px);
    .event-date{
        &::before{
            content: "";
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNS40IiB2aWV3Qm94PSIwIDAgMTQgMTUuNCI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTUgLTQuMykiPjxyZWN0IHdpZHRoPSIxMi42IiBoZWlnaHQ9IjEyLjYiIHJ4PSIxLjQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUuNyA2LjQpIiBmaWxsPSJub25lIiBzdHJva2U9IiNlNTQyMjAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjQiLz48bGluZSB5Mj0iMi44IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNC44IDUpIiBmaWxsPSJub25lIiBzdHJva2U9IiNlNTQyMjAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjQiLz48bGluZSB5Mj0iMi44IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5LjIgNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2U1NDIyMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNCIvPjxsaW5lIHgyPSIxMi42IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjcgMTAuNikiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2U1NDIyMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNCIvPjwvZz48L3N2Zz4=);
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-left: -5px;
            position: relative;
            background-position: center;
            vertical-align: top;
            margin-right: 12px;
            background-repeat: no-repeat;
        }
    }
}

//event list 
.event-list{
    .card{
        min-height: 440px;
        img{
            width: 100%;
            height: auto;
        }
        .card-title{
            a{
                text-decoration: none;
            }
        }
    }
}